include ../titles/title.pug
include ./big-icon.pug

-
  var commData = [
    {
      icon: 'ion-ios-football',
      name: 'Sport & Soccer',
      count: 100,
      color1: '#CBE9C4',
      color2: '#1D9AEB',
      members: [
        'https://randomuser.me/api/portraits/women/0.jpg',
        'https://randomuser.me/api/portraits/women/8.jpg',
        'https://randomuser.me/api/portraits/men/40.jpg',
        'https://randomuser.me/api/portraits/men/83.jpg'
      ]
    },
    {
      icon: 'ion-navigate',
      name: 'Adventures',
      count: 100,
      color1: '#D6EC2F',
      color2: '#EB6F1D',
      members: [
        'https://randomuser.me/api/portraits/women/0.jpg',
        'https://randomuser.me/api/portraits/women/8.jpg',
        'https://randomuser.me/api/portraits/men/40.jpg',
        'https://randomuser.me/api/portraits/men/83.jpg'
      ]
    },
    {
      icon: 'ion-ios-speedometer',
      name: 'Moto Racing',
      count: 100,
      color1: '#1DEBE4',
      color2: '#2F84EC',
      members: [
        'https://randomuser.me/api/portraits/women/0.jpg',
        'https://randomuser.me/api/portraits/women/8.jpg',
        'https://randomuser.me/api/portraits/men/40.jpg',
        'https://randomuser.me/api/portraits/men/83.jpg'
      ]
    },
    {
      icon: 'ion-music-note',
      name: 'Music',
      count: 100,
      color1: '#FF0000',
      color2: '#002BFF',
      members: [
        'https://randomuser.me/api/portraits/women/0.jpg',
        'https://randomuser.me/api/portraits/women/8.jpg',
        'https://randomuser.me/api/portraits/men/40.jpg',
        'https://randomuser.me/api/portraits/men/83.jpg'
      ]
    },
    {
      icon: 'ion-ios-paw',
      name: 'Animal Lovers',
      count: 100,
      color1: '#EB9D1D',
      color2: '#FF81B6',
      members: [
        'https://randomuser.me/api/portraits/women/0.jpg',
        'https://randomuser.me/api/portraits/women/8.jpg',
        'https://randomuser.me/api/portraits/men/40.jpg',
        'https://randomuser.me/api/portraits/men/83.jpg'
      ]
    },
    {
      icon: 'ion-ios-game-controller-b',
      name: 'Games',
      count: 100,
      color1: '#EB1DBE',
      color2: '#2F84EC',
      members: [
        'https://randomuser.me/api/portraits/women/0.jpg',
        'https://randomuser.me/api/portraits/women/8.jpg',
        'https://randomuser.me/api/portraits/men/40.jpg',
        'https://randomuser.me/api/portraits/men/83.jpg'
      ]
    }
  ]
  
.root
  .container
    +title-main("center")
      | #{$t.social_landing.community_title}
    .row.icon-group
      .col-md-4.pt-md-15.mt-md-10
        .wow.fadeInUpShort(data-wow-offset='200' data-wow-delay='0.3s' data-wow-duration='0.3s')
          +big-icon(commData[0].icon, commData[0].name, commData[0].count, commData[0].color1, commData[0].color2, commData[0].members)
        .wow.fadeInUpShort(data-wow-offset='200' data-wow-delay='0.3s' data-wow-duration='0.3s')
          +big-icon(commData[1].icon, commData[1].name, commData[1].count, commData[1].color1, commData[1].color2, commData[1].members)
      .col-md-4.text-center
        .wow.fadeInUpShort(data-wow-offset='200' data-wow-delay='0.3s' data-wow-duration='0.3s')
          +big-icon(commData[2].icon, commData[2].name, commData[2].count, commData[2].color1, commData[2].color2, commData[2].members)
        .wow.fadeIn(data-wow-offset='200' data-wow-delay='0.3s' data-wow-duration='0.3s')
          |
          |
          a.btn.btn-large.btn-explore.hidden-sm-down.primary.waves-effect(href="#") Explore All Communities
          |
          |
        .wow.fadeInUpShort(data-wow-offset='200' data-wow-delay='0.3s' data-wow-duration='0.3s')
          +big-icon(commData[3].icon, commData[3].name, commData[3].count, commData[3].color1, commData[3].color2, commData[3].members)
      .col-md-4.pt-md-15.mt-md-10
        .wow.fadeInUpShort(data-wow-offset='200' data-wow-delay='0.3s' data-wow-duration='0.3s')
          +big-icon(commData[4].icon, commData[4].name, commData[4].count, commData[4].color1, commData[4].color2, commData[4].members)
        .wow.fadeInUpShort(data-wow-offset='200' data-wow-delay='0.3s' data-wow-duration='0.3s')
          +big-icon(commData[5].icon, commData[5].name, commData[5].count, commData[5].color1, commData[5].color2, commData[5].members)
      .col-md-12.show-sm-down
        .text-center.flex
          a.btn.btn-large.btn-explore.hidden-sm-down.primary.waves-effect(href="#") Explore All Communities
