footer.footer-basic(class=footerBg ? 'has-bg' : '')
  include ./decoration
  +footer-deco(footerBg)
  .root
    .container.max-lg
      nav
        ul
          each item in menu.social
            li
              a(href="#" + item.name) #{$t.social_landing["header_"+item.name]}
      .socmed
        |
        |
        a.btn.icon.waves-effect.waves-light(href="#")
          i.ion-social-twitter
        |
        |
        a.btn.icon.waves-effect.waves-light(href="#")
          i.ion-social-facebook
        |
        |
        a.btn.icon.waves-effect.waves-light(href="#")
          i.ion-social-instagram
        |
        |
    .copyright
      |
      |
      p.body-2.text-center
        | &copy; #{brand.social.footerText}

